<ion-modal-view class="about">
  <ion-header-bar class="bar-positive">
    <button class="button button-clear visible-xs" ng-click="closeModal()" translate>COMMON.BTN_CLOSE
    </button>
    <h1 class="title" translate>ABOUT.TITLE</h1>
  </ion-header-bar>

  <ion-content class="text-center" scroll="true">

    <div class="list item-wrap-text">
      <ion-item class="item-icon-left item-text-wrap">
        <ng-bind-html ng-bind-html="'COMMON.APP_NAME'|translate"></ng-bind-html>&nbsp;<b>{{'COMMON.APP_VERSION'|translate:$root.config}}</b>
        <i ng-if="$root.newRelease" class="assertive ion-alert-circled"></i>
        <h3 ng-if="$root.config.build" class="gray">{{'COMMON.APP_BUILD'|translate:$root.config}}</h3>
        <span translate>ABOUT.LICENSE</span>
      </ion-item>

      <!-- new version -->
      <ion-item class="item-icon-left" ng-if="$root.newRelease">
        <i class="item-image icon ion-alert-circled assertive"></i>

        <span ng-if="!$root.device.isWeb()" ng-bind-html="'ABOUT.PLEASE_UPDATE' | translate:$root.newRelease "></span>
        <span ng-if="$root.device.isWeb()" ng-bind-html="'ABOUT.LATEST_RELEASE' | translate:$root.newRelease "></span>

        <!-- link to release page -->
        <h3 ng-if="!$root.device.enable">
          <a ng-click="openLink($event, $root.newRelease.url)" translate>{{::$root.newRelease.url}}</a>
        </h3>
      </ion-item>

      <!-- source code -->
      <div class="item item-icon-left">
        <i class="item-image icon ion-social-github"></i>
        {{'ABOUT.CODE' | translate}}
        <h3><a ng-click="openLink($event, 'https://github.com/duniter-gchange/gchange-client')">https://github.com/duniter-gchange/gchange-client</a></h3>
      </div>

      <!-- forum -->
      <div class="item item-icon-left">
        <i class="item-image icon ion-chatbubbles"></i>
        {{'ABOUT.FORUM' | translate}}
        <h3><a ng-click="openLink($event, $root.settings.userForumUrl)">{{::$root.settings.userForumUrl}}</a></h3>
      </div>

      <div class="item item-icon-left">
        <i class="item-image icon ion-person-stalker"></i>
        {{'ABOUT.DEVELOPERS' | translate}}
        <h3>
          <a ng-click="openLink($event, 'https://github.com/blavenie')">Benoit Lavenier</a>
        </h3>
      </div>
      <ion-item class="item item-icon-left item-text-wrap">
        <i class="item-image icon ion-bug"></i>
        <h2>{{'ABOUT.DEV_WARNING'|translate}}</h2>
        <span translate>ABOUT.DEV_WARNING_MESSAGE</span>
        <br/>
        <a ng-click="openLink($event, $root.settings.newIssueUrl)" translate>ABOUT.REPORT_ISSUE</a>
      </ion-item>

      <div class="padding hidden-xs text-center">
        <button class="button button-positive ink" type="submit"
                ng-click="closeModal()">
          {{'COMMON.BTN_CLOSE' | translate}}
        </button>
      </div>

    </div>
  </ion-content>
</ion-modal-view>
