@import "variables.app";

// Add Cesium style
@import "cesium.app";

/**
* Override default avatar, on wallet/profile views
*/
.avatar-wallet {
  background-image: url('../img/person.png') !important;
}

.bar.bar-header.bar-dark {
  background-color: $dark-balanced !important;
}

.bg-image-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/background.jpg', sizingMethod='scale');
  //-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/background.jpg', sizingMethod='scale')";
}


/* -- Home -- */

#home {

  ion-content {
    z-index: 0;
  }


  .footer {
    background-color: rgba(255,255,255,0.8);
  }
}
@media screen and (max-width: $screen-xxs-max) {
  .no-padding-xxs {
    padding: 0 !important;
  }
}
@media screen and (max-width: $screen-xs-max) {
  .no-padding-xs {
    padding: 0 !important;
  }
}
@media screen and (max-width: $screen-sm-max) {
  #home {
    .row {
      display: inline-block;
    }
  }
}

@media screen and (min-width: $screen-menu) {
  #home {
    ion-content > .scroll > .row:first-child {
      min-height: calc(100vh - 43px);
    }
  }
}

// Categories
.card.card-category h3 {
  text-transform: uppercase;
}

// Header button
.buttons .button.button-flag {
  top: 5px;
}

/* -- Menu -- */

@media screen and (max-width: $screen-sm-max) {
  #menu .bar-header {
    background-color: $dark-balanced !important;
  }
}

/* -- Converse JS customization-- */

#conversejs {
  /*bottom: -35px;
  right: 0;*/
}

// Hide control box
#toggle-controlbox,#controlbox.chatbox,.chatroom-features{
  display: none!important;
}
#converse-embedded-chat .chatroom .box-flyout .chatroom-body .chatroom-form-container .button-primary,
#conversejs .chatroom .box-flyout .chatroom-body .chatroom-form-container .button-primary,
#converse-embedded-chat .chat-head-chatroom,
#conversejs .chat-head-chatroom {
  background-color: $balanced;
}
#conversejs .chat-head-chatroom {

  height: 35px;

  .chat-title:before{
    @extend .ion-chatbubbles;
    font-size: 14px;
    color: #fff;
  }
  .chat-title{
    color: #ddd;
    .chatroom-name {
      color: #fff;
    }
    .chatroom-description {
      display: none!important;
    }
  }

  .chatbox-btn.close-chatbox-button {
    display: none !important;
  }
  .chatbox-btn.toggle-bookmark {
    display: none !important;
  }
}

#converse-embedded-chat .chatroom .sendXMPPMessage .chat-toolbar,
#conversejs .chatroom .sendXMPPMessage .chat-toolbar{
  background-color: $balanced-active;
}

#conversejs #minimized-chats #toggle-minimized-chats{
  display: none !important;
}

#conversejs #minimized-chats .minimized-chats-flyout {
  bottom: 6px;
  height: 35px;
  .chatbox-btn.close-chatbox-button {
    display: none !important;
  }
  a.restore-chat {
    padding-top: 0.2em;
  }
  a.restore-chat:before {
    @extend .ion-chatbubbles;
    font-size: 18px;
    color: #fff;
  }
}

/**********
  feed (home page)
**********/

// Feed: use a darker color, than cesium default
.feed {
  height: 100%;
  .card {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .feed_header,
  .card .header {
    color: $positive-100-bg !important;
  }

  .emoji {
    max-height: 1.2em;
    max-width: 1.2em;
    display: inline;
  }

  blockquote * {
    font-size: 1em !important;
    font-weight: bold;
    font-style: italic;
  }
}

.list.half .item {
  width: calc(100% - 16px);
}

// Allow badge-energized to be more readle
.badge.badge-shadow {
  text-shadow: 1px 1px 3px #444444;
}

/**********
  Item record (Market Ad, Page, etc)
**********/
form.lookupForm,
.lookupForm form {
  .item {
    height: 48px;
  }

  .item-input .selected-values {
    position: relative !important;
    top: -1px !important;
    left: -9px !important;
  }
  .item-input > .selected-values .button {
    top: unset !important;
  }


}

.list.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background: transparent;
  margin-right: -16px; // padding-right of the last item

  & > * {
    flex:  1 1 ;
    width: calc(50% - 32px);
    margin-right: .8rem;
  }
}

.row.row-record {
  border: 0 !important;
  height: unset !important;
  min-height: unset !important;
  padding: 0 !important;
  overflow: hidden;

  .col {
    padding-top: 5px;
    padding-bottom: 0;

    p {
      position: absolute !important;
      padding: 5px;
      top: 0;
      bottom: 0;
      white-space: normal;
      overflow: hidden !important;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -o-hyphens: auto;
      hyphens: auto;
      font-size: 0.9em;
    }

    p:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 30%;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);   /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0255,255,255,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
  }
  .col-text-wrap {
    padding: 0;
    margin: 0;
  }

}
.item-thumbnail-left > img:first-child,
.item-thumbnail-left .item-image,
.item-thumbnail-left .item-content > img:first-child,
.item-thumbnail-left .item-content .item-image {
  border-radius: 0 !important;
  top: 0;
  left: 0;
  padding: 0;
}
// Very (very very) small screens
.item-thumbnail-left,
.item-thumbnail-left .item-content {
  padding-left: calc(min(150px, 40vw) + 10px);
  min-height: calc(min(150px, 40vw) - 5px);
}

.item-thumbnail-left > i:first-child,
.item-thumbnail-left i.item-image,
.item-thumbnail-left .item-content > i:first-child,
.item-thumbnail-left .item-content i.item-image {
  max-width: calc(min(150px, 40vw));
  max-height: calc(min(150px, 40vw));

  &.icon {
    font-size: calc(min(150px, 40vw) - 25px);
    line-height: calc(min(150px, 40vw) - 6px);
  }
}
.item-thumbnail-left {
  h1, h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.9em;
  }
  h4, h5 {
    font-size: 0.8em;
  }
}
// All other screen size: use relative size for thumbnail (max 200px)
@media screen and (min-width: $screen-md) {
  .item-thumbnail-left,
  .item-thumbnail-left .item-content {
    padding-left: calc(min(200px, 50vw) + 10px);
    min-height: calc(min(200px, 50vw) - 5px);
  }

  .item-thumbnail-left > i:first-child,
  .item-thumbnail-left i.item-image,
  .item-thumbnail-left .item-content > i:first-child,
  .item-thumbnail-left .item-content i.item-image {
    max-width: calc(min(200px, 50vw)) !important;
    max-height: calc(min(200px, 50vw)) !important;

    &.icon {
      font-size: calc(min(200px, 50vw) - 25px) !important;
      line-height: calc(min(200px, 50vw)) !important;
    }
  }

  .item-thumbnail-left {
    p {
      font-size: 0.8em;
    }
    h1, h2 {
      font-weight: bold;
      font-size: 1.4em;
    }
    h3 {
      font-size: 1.1em;
    }
    h4, h5 {
      font-size: 1em;
    }
  }
}

.list.flex-row > * {
  min-width: calc(min(350px, 100vh));
  max-width: calc(min(650px, 100vh));
}
.item.item-record {
  background-color: white;
  width: 100%;
  border: 0 !important;
  border-radius: 2px !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  height: unset !important;
  min-height: unset !important;
  max-height: calc(min(200px, 50vw));
  margin-bottom: .8rem;
  padding-top: 0 !important;


  h1, h2 {
    height: auto;
    display: inline-block;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: bold;

    overflow: hidden !important;
    white-space: normal;

  }
  &:hover h1,
  &:hover h2 {
    color: $positive-900-bg !important;
  }
  .badge-secondary {
    top: 40px !important;
    right: 16px !important;
  }

  .badge-picture-count {
    position: absolute;
    bottom: 8px;
    left: calc(min(150px, 40vw) - 15px);
    right: unset;
    top: unset;
  }
}

@media screen and (max-width: $screen-md) {
  .item.item-record .badge-picture-count {
    left: calc(min(200px, 50vw) - 25px);
    bottom: 10px;
  }
}

/* -- More like list results -- */


.list-record-small {
  .hidden-xs {
    visibility: hidden;
    display: none;
  }
  .card > .item.item-thumbnail-left,
  .item-thumbnail-left,
  .item-thumbnail-left .item-content {
    padding-left: calc(min(120px, 50vw) + 10px) !important;
    min-height: calc(min(120px, 50vw)) !important;
  }

  .item-thumbnail-left > img:first-child,
  .item-thumbnail-left .item-image,
  .item-thumbnail-left .item-content > img:first-child,
  .item-thumbnail-left .item-content .item-image {
    max-width: calc(min(120px, 50vw)) !important;
    max-height: calc(min(120px, 50vw)) !important;

    &.icon {
      font-size: calc(min(120px, 50vw) - 12px) !important;
      line-height: calc(min(120px, 50vw)) !important;
    }
  }

  .item.item-record {
    h1, h2 {
      font-size: 1em;
      font-weight: normal;
    }
    h3 {
      font-size: 0.8em;
    }
    h4, h5 {
      font-size: 0.7em;
    }

    .badge-picture-count {
      bottom: 8px;
      left: calc(min(120px, 40vw) - 15px);
    }
  }

}

