<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.gchange"
        ersion="0.4.4" android:version="0.4.4"
        android-versionCode="440"
        xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
>
    <name>ğchange</name>
    <description>
  An unhosted webapp for market with libre currency
  </description>
    <author email="contact@gchange.fr" href="http://www.gchange.fr">
        ğchange team
  </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="resources/android/icon/drawable-xhdpi-icon.png" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <allow-navigation href="https://data.gchange.fr/*" />
    <allow-navigation href="https://g1.duniter.org/*" />
    <allow-navigation href="https://g1.duniter.fr/*" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <platform name="android">
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
    </platform>
    <engine name="android" spec="^6.2.3" />
</widget>
