<i ng-if="::!identity.avatar" class="item-image icon ion-person"></i>
<i ng-if="::identity.avatar" class="item-image avatar" style="background-image: url({{::identity.avatar.src}})"></i>

<h2>
  <span ng-bind-html="::identity.name"></span>
</h2>

<h4 class="gray"
    ng-class="{'pull-right': !smallscreen}"
    ng-if="identity.creationTime||identity.time">
  <i class="ion-clock"></i>
  {{::'WOT.LOOKUP.REGISTERED' | translate: {time: identity.creationTime||identity.time } }}
</h4>
<h4 class="gray">
  <span class="positive" ng-if="::identity.city">
    <i class="ion-location"></i>
    {{::identity.city}}&nbsp;
  </span>
</h4>
<h4 ng-if="::identity.events||identity.tags">
  <span ng-repeat="event in ::identity.events"
      class="assertive">
    <i class="ion-alert-circled " ng-if="::!identity.valid"></i>
    <span ng-bind-html="::event.message|translate:event.messageParams"></span>
  </span>
  <span ng-if="::identity.tags" class="dark">
   <ng-repeat ng-repeat="tag in ::identity.tags">
     #<ng-bind-html ng-bind-html="::tag"></ng-bind-html>
   </ng-repeat>
  </span>
</h4>
